<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or "mantoujun12's Website" }}</title>
    <link rel="stylesheet" href="../../style/style.css">
    <link href="https://fontsapi.zeoseven.com/161/main/result.css" onload="this.rel='stylesheet'" rel="preload"
        as="style" crossorigin />
    <noscript>
        <link rel="stylesheet" href="https://fontsapi.zeoseven.com/161/main/result.css" />
    </noscript>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <style>
    {{ style | safe }}
    </style>
</head>

<body>
    <header>
        <input type="checkbox" id="nav-toggle" hidden>
        <label for="nav-toggle" class="nav-hamburger"><i class="fa-solid fa-bars"></i></label>
        <div class="nav-title"><i class="fa-solid fa-house"></i>个人网站</div>
        <nav>
            <div class="nav-btns">
                <a href="/">首页</a>
                <a href="">文章</a>
                <a href="">图文</a>
                <a href="">分区</a>
                <a href="https://github.com/mantoujun12/mantoujun12.github.io" title="此 GitHub 项目"><i
                        class="fa-brands fa-github"></i></a>
            </div>
        </nav>
        <label for="nav-toggle" class="nav-overlay"></label>
    </header>
    <article>
        {{ content | safe }}
    </article>
    <footer>
        <p>MIT &copy; <a href="https://github.com/mantoujun12" title="访问 Github 主页">mantoujun12</a></p>
        <span>
            <a href="https://www.douyin.com/user/MS4wLjABAAAAtmK1B7sTyq88WZrWQltiwKoROqN0xcJsDpiHU1rT4c1Gz54z8Scuxw0eLG6bMN0-"
                title="抖音主页"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://space.bilibili.com/3546769845651673" title="BiliBili 主页"><i
                    class="fa-brands fa-bilibili"></i></a>
            <a href="https://github.com/mantoujun12/mantoujun12.github.io"><i class="fa-brands fa-github"></i></a>
        </span>
    </footer>
</body>

</html>
